<footer>
    <!-- <p>&copy; 2023 Screener.il. All rights reserved.</p> -->

    <div class="footer-contant">
        <div class="footer-right">
          <h3 class="footer-right-logo">
            Kushal Patel
          </h3>
          <h4 class = "footer-right-head">
            Stock analysis and screening tool
          </h4>
          <p class="footer-right-message">
            Made in India
          </p>
        </div>
        <div class="footer-left">
            <div class="footer-left-product">
                <div class="footer-product-text">
                    Product

                </div>
                <ul class = "product-item">
                    <li><a href="#">Permium</a></li>
                    <li><a href="#">What's New?</a></li>
                    <li><a href="#">Learn</a></li>
                </ul>
            </div>
            <div class = "footer-left-Team">
                <div class="footer-team-text"> Team</div>
                <ul class="team-item">
                    <li><a href="#">About As</a></li>
                    <li><a href="#">Support</a></li> 
                </ul>
            </div>

            <div class= "footer-left-Theme">
                <div class="footer-theme-text">Theme</div>
                <ul class="theme-item">
                    <li><a href="#">Light</a></li>
                    <li><a href="#">Dark</a></li>
                    <li><a href="#">Auto</a></li>
                </ul>
                
            </div>
        </div>

    </div>
</footer>