<!-- templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
</head>
<body>

        {% include 'header/header.html' %}
   

    <div class="content">
        <main>
            {% block content %}
            <p>This is the default content that can be overridden in child templates.</p>
            {% endblock %}
        </main>
    </div>

    {% include 'footer/footer.html' %}
        
    
</body>
</html>
